html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #1b1b1b;
  margin: 0 auto;
  padding: 0;
}

.container {
  margin: 0 0 30px 0;
  width: 100%;
}

.menu {
  top: 0;
  position: fixed;
  width: 100%;
  height: 62.4px;
  background: #313131;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 0 20px 0 #777;
          box-shadow: 0 0 20px 0 #777;
}

.logotype {
  font-family: 'Gunplay', sans-serif;
  font-size: 51px;
  margin-left: 30px;
  color: #afafaf;
  text-shadow: #777 0 0 10px;
}

.logotype:hover {
  color: #afafaf;
  text-shadow: #afafaf 0 0 10px;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

.logo {
  width: 100px;
  height: 100px;
  background: url("../img/logotype/Logotype3.png") no-repeat 0 10px;
}

.element {
  background: #1b1b1b;
  border-radius: 20px 20px 20px 20px;
  margin-top: 90px;
}

.footer-container {
  margin-top: 30px;
  background: #1b1b1b;
  height: 110px;
  -webkit-box-shadow: 0 -15px 14px -20px white;
          box-shadow: 0 -15px 14px -20px white;
  color: white;
}

.container-cpr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 10px;
  color: #afafaf;
}

.logo-footer {
  margin: 0 3px 0 0;
}

.logo-footer:hover {
  color: white;
  text-shadow: #afafaf 0 0 10px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.logo-footer:after {
  content: '';
  width: 1px;
  height: 14px;
  background-color: #afafaf;
  position: absolute;
  margin: 3px 0 0 3px;
}

.release {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: #afafaf;
}

input {
  min-width: 57%;
}

#myInput {
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: none;
  margin: 0 20px 30px 20px;
  border-radius: 0 50px;
  outline: 0;
  -webkit-box-shadow: 0 0 10px 0 #777;
          box-shadow: 0 0 10px 0 #777;
}

#myUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-cards {
  width: 160px;
  text-align: center;
  color: #afafaf;
  font-family: 'Open Sans', sans-serif;
}

.down {
  color: #afafaf;
  font-size: 17px;
}

.down:hover {
  color: white;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  text-shadow: #afafaf 0 0 10px;
}

#myUL li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2c2c2c;
  font-size: 18px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 270px;
  margin: 0 7px 15px 7px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 6px 0 #777;
          box-shadow: 0 0 6px 0 #777;
}

.icon-ss {
  background: url("../img/icon/ss.png") no-repeat center;
  height: 130px;
  background-size: 130px;
  margin: 15px;
  border-radius: 15px;
}

.icon-hsw {
  background: url("../img/icon/hsw.jpg") no-repeat center;
  height: 130px;
  background-size: 130px;
  margin: 15px;
  border-radius: 15px;
}

.icon-fs {
  background: url("../img/icon/fs.png") no-repeat center;
  height: 130px;
  background-size: 130px;
  margin: 15px;
  border-radius: 15px;
}

.fr {
  margin: 15px 0 0 10px;
  font-size: 14px;
  text-align: start;
}

.game {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 20px 10px 10px 10px;
}

.modal:target:before {
  display: block;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-dialog {
  font-family: 'Open Sans', sans-serif;
  color: #afafaf;
  background: #1b1b1b;
  overflow: auto;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  -webkit-transform: translate(0, -5000%);
  -ms-transform: translate(0, -5000%);
  transform: translate(0, -5000%);
  -webkit-transition: -webkit-transform 0s ease-out;
  -o-transition: -o-transform 0s ease-out;
  transition: -webkit-transform 0s ease-out;
  -o-transition: transform 0s ease-out;
  transition: transform 0s ease-out;
  transition: transform 0s ease-out, -webkit-transform 0s ease-out;
}

.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.wrap {
  text-align: center;
  width: 136px;
  margin: 0 auto;
  padding-bottom: 15px;
}

hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaa;
}

p {
  margin-bottom: 10px;
}

.modal-body {
  padding: 30px 40px;
}

.text-modal {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.modal-header {
  padding: 8px;
}

.modal-footer {
  padding: 15px;
}

.modal-header {
  text-align: center;
  -webkit-box-shadow: 0 0 15px 0 #777;
          box-shadow: 0 0 15px 0 #777;
}

.modal-header h2 {
  font-size: 37px;
  font-weight: normal;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 -18px 10px -18px #777;
          box-shadow: 0 -18px 10px -18px #777;
}

.btn {
  color: #afafaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

.btn:hover {
  color: white;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  text-shadow: #afafaf 0 0 10px;
}

.open-btn {
  width: 115px;
  background: #2c2c2c;
  border-radius: 100px;
}

.btn.btn-big {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.btn-close {
  color: #aaa;
  font-size: 40px;
  text-decoration: none;
  position: absolute;
  right: 15px;
  top: 5px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.btn-close:hover {
  color: white;
  text-shadow: #afafaf 0 0 10px;
}

#close {
  display: none;
}

ol li {
  list-style-type: decimal;
  padding: 10px;
}

.second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 0 0;
}

.social {
  color: white;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
}

.social__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.instagram:hover {
  border: 5px solid #e02c70;
  -webkit-box-shadow: 0 0 15px #e02c70;
          box-shadow: 0 0 15px #e02c70;
  color: #e02c70;
}

.youtube:hover {
  border-color: #ca1d1f;
  -webkit-box-shadow: #ca1d1f 0 0 10px;
          box-shadow: #ca1d1f 0 0 10px;
  color: #ca1d1f;
}

.discord:hover {
  border-color: #7289d9;
  -webkit-box-shadow: #7289d9 0 0 10px;
          box-shadow: #7289d9 0 0 10px;
  color: #7289d9;
}